resources:
- deployment.yaml
- service.yaml
- configmap.yaml
- ingress.yaml
- rbac.yaml
- crd/warptail.exceptionerror.io_warptailservices.yaml
- monitor.yaml
images:
- name: app-image
  newName: ghcr.io/robrotheram/warptail
  newTag: sha-0fdd063
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: your-namespace
