# apiVersion: monitoring.coreos.com/v1
# kind: ServiceMonitor
# metadata:
#   name: warptail-servicemonitor
#   labels:
#     release: monitoring
# spec:
#   selector:
#     matchLabels:
#       app: warptail
#   endpoints:
#   - port: http
#     path: /metrics
#     interval: 30s
#     scheme: http
